In [1]:
import pandas as pd
import numpy as np

In [2]:
future_online_filepath = " -- to be added later -- "
# user_details_path = "../datasets/users-details-2023.csv"
# anime_details_path = "../datasets/anime-dataset-2023.csv"
# user_scores_path = "../datasets/user-scores-2023.csv"

user_details_path = "../datasets/users-details-2023.csv"
anime_details_path = "../datasets/anime-dataset-2023.csv"
user_scores_path = "../datasets/users-score-2023.csv"

In [3]:
df_user = pd.read_csv(user_details_path)
df_score = pd.read_csv(user_scores_path)
df_anime = pd.read_csv(anime_details_path)

In [5]:
df_user.head(10)
# df_user["Watching"].max()
df_user.Location.unique()

array(['California', 'Oslo, Norway', 'Melbourne, Australia', ...,
       'Coventry England', 'mansoura', 'Newport Coast, California'],
      dtype=object)

In [106]:
df_user.isna().sum()

Mal ID                   0
Username                 1
Gender              506907
Birthday            563222
Location            578485
Joined                   0
Days Watched             8
Mean Score               8
Watching                 8
Completed                8
On Hold                  8
Dropped                  8
Plan to Watch            8
Total Entries            8
Rewatched                8
Episodes Watched         8
dtype: int64

In [107]:
df_user.shape

(731290, 16)

In [108]:
df_user.info(verbose = False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731290 entries, 0 to 731289
Columns: 16 entries, Mal ID to Episodes Watched
dtypes: float64(10), int64(1), object(5)
memory usage: 89.3+ MB

In [109]:
df_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731290 entries, 0 to 731289
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Mal ID            731290 non-null  int64
 1   Username          731289 non-null  object
 2   Gender            224383 non-null  object
 3   Birthday          168068 non-null  object
 4   Location          152805 non-null  object
 5   Joined            731290 non-null  object
 6   Days Watched      731282 non-null  float64
 7   Mean Score        731282 non-null  float64
 8   Watching          731282 non-null  float64
 9   Completed         731282 non-null  float64
 10  On Hold           731282 non-null  float64
 11  Dropped           731282 non-null  float64
 12  Plan to Watch     731282 non-null  float64
 13  Total Entries     731282 non-null  float64
 14  Rewatched         731282 non-null  float64
 15  Episodes Watched  731282 non-null  float64
dtypes: float64(10), int64(1), object(5)
memory usage: 89.3+ MB

In [110]:
## MAL - ID is prettty relevant, as it is then used in user score for each of the animes 
## very useful in recommender systems

In [111]:
# Display information about the DataFrame
df_user.info()

# Filter users with complete information
complete_users = df_user.dropna()

# Display the filtered DataFrame
print("Users with complete information:")

complete_users.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731290 entries, 0 to 731289
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Mal ID            731290 non-null  int64
 1   Username          731289 non-null  object
 2   Gender            224383 non-null  object
 3   Birthday          168068 non-null  object
 4   Location          152805 non-null  object
 5   Joined            731290 non-null  object
 6   Days Watched      731282 non-null  float64
 7   Mean Score        731282 non-null  float64
 8   Watching          731282 non-null  float64
 9   Completed         731282 non-null  float64
 10  On Hold           731282 non-null  float64
 11  Dropped           731282 non-null  float64
 12  Plan to Watch     731282 non-null  float64
 13  Total Entries     731282 non-null  float64
 14  Rewatched         731282 non-null  float64
 15  Episodes Watched  731282 non-null  float64
dtypes: float64(10), int64(1), object(5)
memory usage: 89.3+ MB
Users with complete information:

,Mal ID,Username,Gender,Birthday,Location,Joined,Days Watched,Mean Score,Watching,Completed,On Hold,Dropped,Plan to Watch,Total Entries,Rewatched,Episodes Watched
0,1,Xinil,Male,1985-03-04T00:00:00+00:00,California,2004-11-05T00:00:00+00:00,142.3,7.37,1.0,233.0,8.0,93.0,64.0,399.0,60.0,8458.0
5,20,vondur,Male,1988-01-25T00:00:00+00:00,"Bergen, Norway",2005-01-05T00:00:00+00:00,73.1,8.06,11.0,94.0,11.0,2.0,20.0,138.0,7.0,4374.0
11,66,Hiromi,Male,1990-02-09T00:00:00+00:00,"Calgary, AB",2005-04-01T00:00:00+00:00,70.6,7.53,34.0,148.0,13.0,6.0,10.0,211.0,50.0,4117.0
16,82,Achtor,Male,1989-06-10T00:00:00+00:00,"Paris, France",2005-04-29T00:00:00+00:00,47.0,7.17,6.0,153.0,36.0,20.0,101.0,316.0,0.0,2922.0
23,112,luffykun,Male,1983-06-09T00:00:00+00:00,"London,England",2005-06-17T00:00:00+00:00,72.6,8.77,2.0,125.0,0.0,0.0,1.0,128.0,0.0,4329.0
26,120,hazte,Male,1986-11-08T00:00:00+00:00,"Lule&aring;, Sweden",2005-06-26T00:00:00+00:00,138.5,6.69,46.0,260.0,26.0,1.0,45.0,378.0,15.0,8358.0
30,138,DanskiJonez,Male,1986-07-31T00:00:00+00:00,"Ontario, Canada",2005-07-06T00:00:00+00:00,152.8,9.09,34.0,188.0,1.0,2.0,2.0,227.0,29.0,9153.0
35,163,Holzy,Male,1982-12-22T00:00:00+00:00,Locked up in Shuuka basement working on cards :p,2005-07-31T00:00:00+00:00,247.2,7.62,74.0,1478.0,16.0,0.0,661.0,2229.0,0.0,14967.0
39,185,Fador,Male,1984-04-08T00:00:00+00:00,"Tampere, Finland",2005-08-14T00:00:00+00:00,78.0,7.58,77.0,167.0,10.0,7.0,0.0,261.0,1.0,4737.0
41,208,Arinohyoshi,Male,1987-09-12T00:00:00+00:00,"Finland, Pori",2005-01-30T00:00:00+00:00,85.0,8.30,12.0,194.0,2.0,25.0,19.0,252.0,0.0,5053.0

In [112]:
complete_users.shape

(115457, 16)

In [113]:
complete_users.columns
columns_list = complete_users.columns.tolist()
print(columns_list)
main_users = complete_users[['Mal ID', 'Username', 'Gender', 'Birthday', 'Location','Mean Score','Completed']]

['Mal ID', 'Username', 'Gender', 'Birthday', 'Location', 'Joined', 'Days Watched', 'Mean Score', 'Watching', 'Completed', 'On Hold', 'Dropped', 'Plan to Watch', 'Total Entries', 'Rewatched', 'Episodes Watched']

In [114]:
main_users.shape
main_users.columns

Index(['Mal ID', 'Username', 'Gender', 'Birthday', 'Location', 'Mean Score',
       'Completed'],
      dtype='object')

In [115]:
main_users["Gender"].unique()

array(['Male', 'Female', 'Non-Binary'], dtype=object)

In [116]:
# main_users["Location"].unique()  not all users have location data, so it is not relevant for the recommender system

In [117]:
# Extract the year directly using string slicing
main_users['Birth_Year'] = main_users['Birthday'].str[:4]

# Display the updated DataFrame
print(main_users[['Birthday', 'Birth_Year']])

                         Birthday Birth_Year
0       1985-03-04T00:00:00+00:00       1985
5       1988-01-25T00:00:00+00:00       1988
11      1990-02-09T00:00:00+00:00       1990
16      1989-06-10T00:00:00+00:00       1989
23      1983-06-09T00:00:00+00:00       1983
...                           ...        ...
731265  1992-07-16T00:00:00+00:00       1992
731266  1994-08-20T00:00:00+00:00       1994
731269  1996-12-07T00:00:00+00:00       1996
731270  1991-12-11T00:00:00+00:00       1991
731280  1997-12-24T00:00:00+00:00       1997

[115457 rows x 2 columns]

C:\Users\Anshuman Raj\AppData\Local\Temp\ipykernel_30400\469927355.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  main_users['Birth_Year'] = main_users['Birthday'].str[:4]

In [118]:
main_users.info()

<class 'pandas.core.frame.DataFrame'>
Index: 115457 entries, 0 to 731280
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Mal ID      115457 non-null  int64
 1   Username    115457 non-null  object
 2   Gender      115457 non-null  object
 3   Birthday    115457 non-null  object
 4   Location    115457 non-null  object
 5   Mean Score  115457 non-null  float64
 6   Completed   115457 non-null  float64
 7   Birth_Year  115457 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 7.9+ MB

In [119]:
# drop the birthday column as it is not relevant for the recommender system
main_users = main_users.drop(columns=['Birthday'])
main_users.info()
main_users.isna().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 115457 entries, 0 to 731280
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Mal ID      115457 non-null  int64
 1   Username    115457 non-null  object
 2   Gender      115457 non-null  object
 3   Location    115457 non-null  object
 4   Mean Score  115457 non-null  float64
 5   Completed   115457 non-null  float64
 6   Birth_Year  115457 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 7.0+ MB

Mal ID        0
Username      0
Gender        0
Location      0
Mean Score    0
Completed     0
Birth_Year    0
dtype: int64

In [120]:
main_users = main_users.drop(columns=['Location'])
# location, was anyways useless. so removed :>
main_users.isna().sum()

Mal ID        0
Username      0
Gender        0
Mean Score    0
Completed     0
Birth_Year    0
dtype: int64

## Necessary user demographics have been added

In [121]:
df_score.head(10)

   user_id Username  anime_id                  Anime Title  rating
0        1    Xinil        21                    One Piece       9
1        1    Xinil        48                  .hack//Sign       7
2        1    Xinil       320                       A Kite       5
3        1    Xinil        49             Aa! Megami-sama!       8
4        1    Xinil       304       Aa! Megami-sama! Movie       8
5        1    Xinil       306  Abenobashi Mahou☆Shoutengai       8
6        1    Xinil        53                Ai Yori Aoshi       7
7        1    Xinil        47                        Akira       5
8        1    Xinil       591               Amaenaide yo!!       6
9        1    Xinil        54            Appleseed (Movie)       7

In [122]:
df_anime.head(10)

,anime_id,Name,English name,Other name,Score,Genres,Synopsis,Type,Episodes,Aired,...,Studios,Source,Duration,Rating,Rank,Popularity,Favorites,Scored By,Members,Image URL
0,1,Cowboy Bebop,Cowboy Bebop,カウボーイビバップ,8.75,"Action, Award Winning, Sci-Fi","Crime is timeless. By the year 2071, humanity ...",TV,26.0,"Apr 3, 1998 to Apr 24, 1999",...,Sunrise,Original,24 min per ep,R - 17+ (violence & profanity),41.0,43,78525,914193.0,1771505,https://cdn.myanimelist.net/images/anime/4/196...
1,5,Cowboy Bebop: Tengoku no Tobira,Cowboy Bebop: The Movie,カウボーイビバップ 天国の扉,8.38,"Action, Sci-Fi","Another day, another bounty—such is the life o...",Movie,1.0,"Sep 1, 2001",...,Bones,Original,1 hr 55 min,R - 17+ (violence & profanity),189.0,602,1448,206248.0,360978,https://cdn.myanimelist.net/images/anime/1439/...
2,6,Trigun,Trigun,トライガン,8.22,"Action, Adventure, Sci-Fi","Vash the Stampede is the man with a $$60,000,0...",TV,26.0,"Apr 1, 1998 to Sep 30, 1998",...,Madhouse,Manga,24 min per ep,PG-13 - Teens 13 or older,328.0,246,15035,356739.0,727252,https://cdn.myanimelist.net/images/anime/7/203...
3,7,Witch Hunter Robin,Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),7.25,"Action, Drama, Mystery, Supernatural",Robin Sena is a powerful craft user drafted in...,TV,26.0,"Jul 3, 2002 to Dec 25, 2002",...,Sunrise,Original,25 min per ep,PG-13 - Teens 13 or older,2764.0,1795,613,42829.0,111931,https://cdn.myanimelist.net/images/anime/10/19...
4,8,Bouken Ou Beet,Beet the Vandel Buster,冒険王ビィト,6.94,"Adventure, Fantasy, Supernatural",It is the dark century and the people are suff...,TV,52.0,"Sep 30, 2004 to Sep 29, 2005",...,Toei Animation,Manga,23 min per ep,PG - Children,4240.0,5126,14,6413.0,15001,https://cdn.myanimelist.net/images/anime/7/215...
5,15,Eyeshield 21,UNKNOWN,アイシールド21,7.92,Sports,"Shy, reserved, and small-statured, Deimon High...",TV,145.0,"Apr 6, 2005 to Mar 19, 2008",...,Gallop,Manga,23 min per ep,PG-13 - Teens 13 or older,688.0,1252,1997,86524.0,177688,https://cdn.myanimelist.net/images/anime/1079/...
6,16,Hachimitsu to Clover,Honey and Clover,ハチミツとクローバー,8.0,"Comedy, Drama, Romance","Yuuta Takemoto, a sophomore at an arts college...",TV,24.0,"Apr 15, 2005 to Sep 27, 2005",...,J.C.Staff,Manga,23 min per ep,PG-13 - Teens 13 or older,589.0,862,4136,81747.0,260166,https://cdn.myanimelist.net/images/anime/1301/...
7,17,Hungry Heart: Wild Striker,UNKNOWN,ハングリーハート Wild Striker,7.55,"Comedy, Slice of Life, Sports",As the younger brother of Japanese soccer star...,TV,52.0,"Sep 11, 2002 to Sep 10, 2003",...,Nippon Animation,Manga,23 min per ep,PG-13 - Teens 13 or older,1551.0,4212,237,12960.0,24172,https://cdn.myanimelist.net/images/anime/12/49...
8,18,Initial D Fourth Stage,UNKNOWN,頭文字〈イニシャル〉D FOURTH STAGE,8.16,"Action, Drama",Takumi Fujiwara finally joins Ryousuke and Kei...,TV,24.0,"Apr 17, 2004 to Feb 18, 2006",...,A.C.G.T.,Manga,27 min per ep,PG-13 - Teens 13 or older,393.0,1273,1237,97878.0,173710,https://cdn.myanimelist.net/images/anime/9/105...
9,19,Monster,Monster,モンスター,8.87,"Drama, Mystery, Suspense","Dr. Kenzou Tenma, an elite neurosurgeon recent...",TV,74.0,"Apr 7, 2004 to Sep 28, 2005",...,Madhouse,Manga,24 min per ep,R+ - Mild Nudity,26.0,142,47235,368569.0,1013100,https://cdn.myanimelist.net/images/anime/10/18...

In [123]:
# Filter rows where user_id matches Mal ID and Username matches
filtered_df = df_score[
    (df_score['user_id'].isin(main_users['Mal ID'])) & 
    (df_score['Username'].isin(main_users['Username']))
]

# Drop columns with all zero values
filtered_df = filtered_df.loc[:, (filtered_df != 0).any(axis=0)]

# Display the filtered DataFrame
print(filtered_df)

          user_id  Username  anime_id                   Anime Title  rating
0               1     Xinil        21                     One Piece       9
1               1     Xinil        48                   .hack//Sign       7
2               1     Xinil       320                        A Kite       5
3               1     Xinil        49              Aa! Megami-sama!       8
4               1     Xinil       304        Aa! Megami-sama! Movie       8
...           ...       ...       ...                           ...     ...
24324820  1291057  imjustjk     12445      Tasogare Otome x Amnesia       7
24324821  1291057  imjustjk      6213       Toaru Kagaku no Railgun      10
24324822  1291057  imjustjk     18245                 White Album 2       9
24324823  1291057  imjustjk     10495                     Yuru Yuri      10
24324824  1291057  imjustjk     25519  Yuuki Yuuna wa Yuusha de Aru       8

[8467079 rows x 5 columns]

In [124]:
filtered_df.shape
filtered_df.columns

Index(['user_id', 'Username', 'anime_id', 'Anime Title', 'rating'], dtype='object')

In [129]:
main_users.head(10)

    Mal ID     Username Gender  Mean Score  Completed Birth_Year
0        1        Xinil   Male        7.37      233.0       1985
5       20       vondur   Male        8.06       94.0       1988
11      66       Hiromi   Male        7.53      148.0       1990
16      82       Achtor   Male        7.17      153.0       1989
23     112     luffykun   Male        8.77      125.0       1983
26     120        hazte   Male        6.69      260.0       1986
30     138  DanskiJonez   Male        9.09      188.0       1986
35     163        Holzy   Male        7.62     1478.0       1982
39     185        Fador   Male        7.58      167.0       1984
41     208  Arinohyoshi   Male        8.30      194.0       1987

In [130]:
filtered_df.head(10)

   user_id Username  anime_id                  Anime Title  rating
0        1    Xinil        21                    One Piece       9
1        1    Xinil        48                  .hack//Sign       7
2        1    Xinil       320                       A Kite       5
3        1    Xinil        49             Aa! Megami-sama!       8
4        1    Xinil       304       Aa! Megami-sama! Movie       8
5        1    Xinil       306  Abenobashi Mahou☆Shoutengai       8
6        1    Xinil        53                Ai Yori Aoshi       7
7        1    Xinil        47                        Akira       5
8        1    Xinil       591               Amaenaide yo!!       6
9        1    Xinil        54            Appleseed (Movie)       7

In [131]:
# Save main_users to a CSV file
main_users.to_csv('user_demographics.csv', index=False)

# Save filtered_df to a CSV file
filtered_df.to_csv('user_to_anime.csv', index=False)

print("DataFrames have been saved to CSV files.")

DataFrames have been saved to CSV files.